<li id="artcile-<%= artcile.id %>">
  <span class="user lead"><%= link_to artcile.user.name, artcile.user %></span>
  <span class="content lead"><%= link_to artcile.title, artcile_path(artcile.id) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(artcile.created_at) %> ago.
  </span>
</li>