<%provide(:title, @artciles.title)%>
<section class="user_info">
  <h1>
    <%= @artciles.title %>
  </h1>
  <p class="lead">
    <%= @artciles.contant %>
  </p>
  <div>
    <div> <%= render 'article_form' if logged_in? %> </div>
  </div>
</section>