<%= form_for(@artcile) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter Title" %>
    <%= f.text_area :contant, placeholder: "Compose new Article...", rows: 10, class: 'form-control' %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>