<%provide(:title, 'home')%>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/artcile_form' %>
      </section>
    </aside>
    <div class="col-md-offset-1 col-md-7">
      <h3>Articles</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Article App</h1>
    <p>This is the home page for the Article application</p>
  </div>
<%end%>